annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blis
Brotli
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cmudict==1.0.32
colorama
comm
confection
contourpy
cycler
cymem
debugpy
decorator
defusedxml
editdistance==0.8.1
eng_to_ipa==0.0.2
epitran==1.26.0
exceptiongroup
executing
fastjsonschema
filelock
fonttools
fsspec
gmpy2
h11
httpcore
httpx
idna
importlib-metadata==6.11.0
importlib_resources
ipdb
ipykernel
ipython
ipywidgets
jamo==0.4.1
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
langcodes
langid==1.1.6
marisa-trie==1.2.1
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
munkres==1.1.4
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
overrides
packaging
pandocfilters
panphon==0.21.2
parso
pickleshare
pillow
platformdirs
ply==3.11
preshed
prometheus_client
prompt-toolkit
psutil
pure-eval
pycparser
pydantic
pydantic_core
Pygments
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
python-json-logger
pytz
pywin32==308
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
Send2Trash
shellingham
sip
six
smart-open
sniffio
soundfile
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
syllables==1.0.9
syltippy==1.0
sympy==1.13.1
terminado
TextGrid
thinc
tinycss2
toml
tomli
torch==2.6.0
torchaudio==2.6.0
tornado
tqdm
traitlets
typer
typing_extensions
unicodecsv==0.14.1
unicodedata2
urllib3
wasabi
wcwidth
weasel
webencodings==0.5.1
websocket-client
widgetsnbextension
win-inet-pton
zipp